=begin
#Femsa API

#Femsa sdk

The version of the OpenAPI document: 2.2.0
Contact: engineering@femsa.com
Generated by: https://openapi-generator.tech
Generator version: 7.5.0

=end

require 'cgi'

module DigitalFemsa
  class ProductsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Product
    # Creates a new product (line item) for an existing order. Use this endpoint to add an additional item to the order after it has been created.
    # @param id [String] Identifier of the resource
    # @param product [Product] Fields required to create a new product (line item) for an existing order. This request adds a new item to the order.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language Use for knowing which language to use (default to 'es')
    # @option opts [String] :x_child_company_id In the case of a holding company, the company id of the child company to which will process the request.
    # @return [ProductOrderResponse]
    def orders_create_product(id, product, opts = {})
      data, _status_code, _headers = orders_create_product_with_http_info(id, product, opts)
      data
    end

    # Create Product
    # Creates a new product (line item) for an existing order. Use this endpoint to add an additional item to the order after it has been created.
    # @param id [String] Identifier of the resource
    # @param product [Product] Fields required to create a new product (line item) for an existing order. This request adds a new item to the order.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language Use for knowing which language to use (default to 'es')
    # @option opts [String] :x_child_company_id In the case of a holding company, the company id of the child company to which will process the request.
    # @return [Array<(ProductOrderResponse, Integer, Hash)>] ProductOrderResponse data, response status code and response headers
    def orders_create_product_with_http_info(id, product, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.orders_create_product ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductsApi.orders_create_product"
      end
      # verify the required parameter 'product' is set
      if @api_client.config.client_side_validation && product.nil?
        fail ArgumentError, "Missing the required parameter 'product' when calling ProductsApi.orders_create_product"
      end
      allowable_values = ["es", "en"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/orders/{id}/line_items'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.app-v2.1.0+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'X-Child-Company-Id'] = opts[:'x_child_company_id'] if !opts[:'x_child_company_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(product)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductOrderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductsApi.orders_create_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#orders_create_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Product
    # Deletes a product (line item) from an existing order. The API will validate whether the order can be modified before removing the item.
    # @param id [String] Identifier of the resource
    # @param line_item_id [String] identifier
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language Use for knowing which language to use (default to 'es')
    # @option opts [String] :x_child_company_id In the case of a holding company, the company id of the child company to which will process the request.
    # @return [ProductOrderResponse]
    def orders_delete_product(id, line_item_id, opts = {})
      data, _status_code, _headers = orders_delete_product_with_http_info(id, line_item_id, opts)
      data
    end

    # Delete Product
    # Deletes a product (line item) from an existing order. The API will validate whether the order can be modified before removing the item.
    # @param id [String] Identifier of the resource
    # @param line_item_id [String] identifier
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language Use for knowing which language to use (default to 'es')
    # @option opts [String] :x_child_company_id In the case of a holding company, the company id of the child company to which will process the request.
    # @return [Array<(ProductOrderResponse, Integer, Hash)>] ProductOrderResponse data, response status code and response headers
    def orders_delete_product_with_http_info(id, line_item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.orders_delete_product ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductsApi.orders_delete_product"
      end
      # verify the required parameter 'line_item_id' is set
      if @api_client.config.client_side_validation && line_item_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_item_id' when calling ProductsApi.orders_delete_product"
      end
      allowable_values = ["es", "en"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/orders/{id}/line_items/{line_item_id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'line_item_id' + '}', CGI.escape(line_item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.app-v2.1.0+json'])
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'X-Child-Company-Id'] = opts[:'x_child_company_id'] if !opts[:'x_child_company_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductOrderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductsApi.orders_delete_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#orders_delete_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Product
    # Updates an existing product (line item) for an existing order. Use this endpoint to modify the details of a specific line item in the order.
    # @param id [String] Identifier of the resource
    # @param line_item_id [String] identifier
    # @param update_product [UpdateProduct] Fields allowed to update an existing product (line item) in an order. All fields are optional; only the provided fields will be updated.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language Use for knowing which language to use (default to 'es')
    # @option opts [String] :x_child_company_id In the case of a holding company, the company id of the child company to which will process the request.
    # @return [ProductOrderResponse]
    def orders_update_product(id, line_item_id, update_product, opts = {})
      data, _status_code, _headers = orders_update_product_with_http_info(id, line_item_id, update_product, opts)
      data
    end

    # Update Product
    # Updates an existing product (line item) for an existing order. Use this endpoint to modify the details of a specific line item in the order.
    # @param id [String] Identifier of the resource
    # @param line_item_id [String] identifier
    # @param update_product [UpdateProduct] Fields allowed to update an existing product (line item) in an order. All fields are optional; only the provided fields will be updated.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language Use for knowing which language to use (default to 'es')
    # @option opts [String] :x_child_company_id In the case of a holding company, the company id of the child company to which will process the request.
    # @return [Array<(ProductOrderResponse, Integer, Hash)>] ProductOrderResponse data, response status code and response headers
    def orders_update_product_with_http_info(id, line_item_id, update_product, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.orders_update_product ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductsApi.orders_update_product"
      end
      # verify the required parameter 'line_item_id' is set
      if @api_client.config.client_side_validation && line_item_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_item_id' when calling ProductsApi.orders_update_product"
      end
      # verify the required parameter 'update_product' is set
      if @api_client.config.client_side_validation && update_product.nil?
        fail ArgumentError, "Missing the required parameter 'update_product' when calling ProductsApi.orders_update_product"
      end
      allowable_values = ["es", "en"]
      if @api_client.config.client_side_validation && opts[:'accept_language'] && !allowable_values.include?(opts[:'accept_language'])
        fail ArgumentError, "invalid value for \"accept_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/orders/{id}/line_items/{line_item_id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'line_item_id' + '}', CGI.escape(line_item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.app-v2.1.0+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'X-Child-Company-Id'] = opts[:'x_child_company_id'] if !opts[:'x_child_company_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_product)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductOrderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductsApi.orders_update_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#orders_update_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
